
<div class="panel_main">
    
    <div class="clearfix"></div>
    <div class="">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><%= title %></div>
                <div class="panel-body">
                <div class="actions-div">
                    <a href="/users/roles/create" class="btn btn-success">Add New</a>
                </div>
                <div class="clearfix"></div>
                <% include ../../partials/notifications %>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>                                    
                                    <th>Name</th>                                   
                                    <th>Display Name</th>
                                    <th>Sort</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (doc){ %>
                                    <% for(var i=0; i < doc.length; i++) { %>
                                    <% var data = doc
                                        var j = i+1
                                    %>
                                       <tr>
                                         <td><%= j  %></td>
                                         
                                        <td>
                                            <%=data[i].name %>
                                        </td>
                                        <td>
                                            <%=data[i].display_name %>
                                        </td>
                                         <td>
                                            <%=data[i].sort %>
                                        </td>
                                        <td>
                                            <a href="roles/<%= data[i]._id%>/edit" class=""><span class="label label-success">Edit</span></a>
                                            <a href="javascript:void(0);" class="" id="delete" name="<%= data[i]._id%>"><span class="label label-danger">Delete</span></a>
                                        </td>  
                                       </tr>

                                      
                                    <% } %>
                                <% }else{ %>
                                    <tr>
                                        <td colspan="7">No records found !</td>
                                    </tr>
                                <% } %>
                                
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$('document').ready(function(){
    $('body').on('click','#delete',function(){
        var This = this;
        var id = $(this).attr('name')
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.value) {
            $.ajax({
            url: '/users/roles/'+id,
            type: 'DELETE',
            data : {
                _csrf : $('input[name="_csrf"]').val()
            },
            dataType: 'json',
            success: function(response) {
                
                var messages = '<ul>';
                $(response.messages).each(function(key,value){
                    messages += '<li>'+value+'</li>';
                })
                messages += '</ul>';

                if(response.status == 200){
                    $(This).closest('tr').remove();
                    Swal.fire(
                        'Deleted!',
                        messages,
                        'success'
                    )
                }else{
                    Swal.fire(
                      'Errors!',
                      '<b>Your file has been deleted.</b>',
                      'error'
                    )
                }
                
            }
        });

            
          }
        })
    })
})

</script>
